.contenedor_parametros {
  /*posicion*/
  /* box model*/
  width: auto;
  height: auto;
  /* texto*/
  /* visual*/
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  /* otros*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.75);
}


.c1{
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c2{
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.c3{
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c4{
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imagen_div{
  width: 300px;
  height: 300px;
}

h1                     /*   titulo principal  */
 {
  /*posicion*/
  /* box model*/
  /* texto*/
  font-weight: bold;
  font-size: 40px;
  
  /* visual*/
  color: #153358;
  /* otros*/
}
h2                    /*    titulo secundario  */
{
  /*posicion*/
  /* box model*/
  /* texto*/
  font-weight: bold;
  font-size: 30px;

  /* visual*/
  color: #153358;
  /* otros*/
}
h3                    /* titulo equipos especificos a la izquierda    */ {
  /*posicion*/
  /* box model*/
  /* texto*/
  font-weight: bold;
  font-size: 40px;

  /* visual*/
  color: rgb(202, 183, 7);
  /* otros*/
}

h4                    /* titulo equipos especificos a la izquierda    */ {
  /*posicion*/
  /* box model*/
  /* texto*/
  font-weight: bold;
  font-size: 25px;

  /* visual*/
  color:  rgb(202, 183, 7);
  /* otros*/
}

body {
  /*posicion*/
  margin: 20px;
  font-family: sans-serif;
  padding: 90px 20px 0;
  min-height: 100%;
  /* box model*/
  /* texto*/
  /* visual*/
  /* otros*/
}

html {
  height: 100%;
}

.contenedorTotal {
  /* diseño dispositivos escritorio*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
}

.contenedorTotal > section {
  /* diseño dispositivos escritorio*/
  box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.footer {
  background-color: #112c50;
    color: rgb(241, 218, 9);
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
}

p3                        /* letra roja a la izq    */ {
  /*posicion*/
  /* box model*/
  font-weight: bold;
  /* texto*/
  /* visual*/
  color: red;
  /* otros*/
}
p2                       /*   letra azul a la izq  */ {
  /*posicion*/
  /* box model*/
  font-weight: bold;
  /* texto*/
  /* visual*/
  color: blue;
  /* otros*/
}
p1                       /*    letra negra a la izq */ {
  /*posicion*/
  /* box model*/
  font-weight: bold;
  /* texto*/
  /* visual*/
  color: black;
  /* otros*/
}

/*/////////////carrusel de imagenes/////////////*/
/*//////////////////////////////////////////////*/
.slider-frame {
	width: 600px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* //////////////////// menu hamburguesa//////////////////////////////  */

.cabezera {
  background-color: #112c50;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.contenedor-link {
  color:  rgb(241, 218, 9);
  text-decoration: none;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 60px;
  line-height: 40px;
}
.contenedor-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.contenedor-menu-item {
  font-size: 12px;
  margin: 0 5px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.contenedor-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}
.contenedor-menu-link:hover,
.contenedor-menu-link_active {
  background-color: #112c50;
  transition: 0.5s;
}

.contenedor-boton {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
  left: 100%;
  background-color: red;
}

@media (max-width: 768px) {
  body {
    padding: 70px;
  }

  .contenedorTotal {
    /* diseño dispositivos moviles*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
  }
  .contenedorTotal > section {
    /* diseño dispositivos escritorio*/
    box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
  }

  .footer {
    
    background-color: #112c50;
    color: rgb(16, 224, 27);
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .contenedor-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #112c50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.83s;
  }
  .contenedor-menu-item {
    line-height: 70px;
  }
  .contenedor-menu-link:hover,
  .contenedor-menu-link_active {
    background: none;
    color: #83c5f7;
  }
  .contenedor-boton {
    display: block;
    position: fixed;
    top: 0;
    left: 80%;
  }

  .contenedor-menu_visible {
    left: 0;
  }

  .contenedor-boton:focus:not(:focus-visible) {
    outline: none;
  }

  .imagen_div{
    width: 150px;
    height: 150px;
  }
  .c1{
    max-width: 400px;
    max-height: 400px;
  }
  .c2{
    height: 400px;
    width: 400px;
  }
  .c3{
    height: 400px;
    width: 400px;
  }
  .c4{
    height: 400px;
    width: 400px;
  }
  h3                    /* titulo equipos especificos a la izquierda    */ {
    /*posicion*/
    /* box model*/
    /* texto*/
    font-weight: bold;
    font-size: 20px;
  
    /* visual*/
    color: rgb(202, 183, 7);
    /* otros*/
  }
  h4                    /* titulo equipos especificos a la izquierda    */ {
    /*posicion*/
    /* box model*/
    /* texto*/
    font-weight: bold;
    font-size: 10px;
    /* visual*/
    color: rgb(202, 183, 7);
    /* otros*/
  }



}
