

.contenedor_parametros {
  /*posicion*/
  /* box model*/
  width: auto;
  height: auto;
  /* texto*/
  /* visual*/
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  /* otros*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.75);
}

.mapa{
  width: 600px ; 
  height: 450px ;

}
.c1{
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c2{
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c3{
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c4{
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.imagen_div{
  width: 300px;
  height: 300px;
}

h1                     /*   titulo principal  */
 {
  /*posicion*/
  /* box model*/
  /* texto*/
  font-weight: bold;
  font-size: 40px;
  
  /* visual*/
  color: #153358;
  /* otros*/
}
h2                    /*    titulo secundario  */
{
  /*posicion*/
  /* box model*/
  /* texto*/
  font-weight: bold;
  font-size: 30px;

  /* visual*/
  color: #153358;
  /* otros*/
}
h3                    /* titulo equipos especificos a la izquierda    */ {
  /*posicion*/
  /* box model*/
  /* texto*/
  font-weight: bold;
  font-size: 40px;

  /* visual*/
  color: rgb(202, 183, 7);
  /* otros*/
}

h4                    /* titulo equipos especificos a la izquierda    */ {
  /*posicion*/
  /* box model*/
  /* texto*/
  font-weight: bold;
  font-size: 25px;

  /* visual*/
  color:  rgb(202, 183, 7);
  /* otros*/
}

body {
  /*posicion*/
  margin: 20px;
  font-family: sans-serif;
  padding: 90px 20px 0;
  min-height: 100%;
  /* box model*/
  /* texto*/
  /* visual*/
  /* otros*/
}

html {
  height: 100%;
}

.contenedorTotal {
  /* diseño dispositivos escritorio*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.contenedorTotal > section {
  /* diseño dispositivos escritorio*/
  box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.footer {
  background-color: #112c50;
    color: rgb(241, 218, 9);
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
}

p3                        /* letra roja a la izq    */ {
  /*posicion*/
  /* box model*/
  font-weight: bold;
  /* texto*/
  /* visual*/
  color: red;
  /* otros*/
}
p2                       /*   letra azul a la izq  */ {
  /*posicion*/
  /* box model*/
  font-weight: bold;
  /* texto*/
  /* visual*/
  color: blue;
  /* otros*/
}
p1                       /*    letra negra a la izq */ {
  /*posicion*/
  /* box model*/
  font-weight: bold;
  /* texto*/
  /* visual*/
  color: black;
  /* otros*/
}

/*/////////////carrusel de imagenes/////////////*/
/*//////////////////////////////////////////////*/
.slider-frame {
	width: 600px;
  height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* //////////////////// menu hamburguesa//////////////////////////////  */

.cabezera {
  background-color: #112c50;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 992px;
  padding: 0 auto;
}
.contenedor-link {
  color:  rgb(241, 218, 9);
  text-decoration: none;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 60px;
  line-height: 40px;
}
.contenedor-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
  padding: 0 100px;
  width: 100%;
}
.contenedor-menu-item {
  font-size: 12px;
  margin: 0 5px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.contenedor-menu-link {
  padding: 8px 12px;
  border-radius: 5px;
  
}
.contenedor-menu-link:hover {
  background-color: #608cc5;
  transition: 0.4s;
  font-size: 16px;
}

.contenedor-boton {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
  left: 100%;
  background-color: red;
}

@media (max-width: 768px) 
{
  body {
    padding: 70px;
  }

  .contenedorTotal {
    /* diseño dispositivos moviles*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
  }
  .contenedorTotal > section {
    /* diseño dispositivos escritorio*/
    box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
  }

  .footer {
    
    background-color: #112c50;
    color: rgb(16, 224, 27);
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .logo {
    font-size: 30px;
    padding: 0 40px;
    line-height: 75px;
  }

  .contenedor-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #112c50;
    position: fixed;
    top: 80px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 80px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.83s;
  }
  .contenedor-menu-item {
    line-height: 70px;
  }
  .contenedor-menu-link:hover {
    background: none;
    color: #83c5f7;
  }
  .contenedor-boton {
    display: block;
    position: fixed;
    top: 0;
    left: 85%;
    height: 80px;

  }

  .contenedor-menu_visible {
    left: 0;
  }

  .contenedor-boton:focus:not(:focus-visible) {
    outline: none;
  }

  .imagen_div{
    width: 150px;
    height: 150px;
  }
  .c1{
    max-width:768px;
    max-height: 300px;
    background-size:100%;
    
   
  }
  .c2{
    max-width:768px;
    max-height: 300px;
    background-size:100%;
  }
  .c3{
    max-width:768px;
    max-height: 300px;
    background-size:100%;
  }
  .c4{
    max-width:768px;
    max-height: 300px;
    background-size:100%;
  }
  h3                    /* titulo equipos especificos a la izquierda    */ {
    /*posicion*/
    /* box model*/
    /* texto*/
    font-weight: bold;
    font-size: 14px;
    text-shadow: 3px  1px 1px #153358;
  
    /* visual*/
    color: rgb(250, 226, 13);
    /* otros*/
  }
  h4                    /* titulo equipos especificos a la izquierda    */ {
    /*posicion*/
    /* box model*/
    /* texto*/
    font-weight: bold;
    font-size: 10px;
    /* visual*/
    color: rgb(250, 226, 13);
    text-shadow: 3px  1px 1px #153358;
    /* otros*/
  }
  .slider-frame {
    max-width: 200px;
    max-height: 300px;
  
  }

  .mapa
  {
    max-width: 100%;
    max-height: 300px;
  }
}

/*/////////////////////////////  login  //////////////////////////////*/

.cabeza {
  /*background-image: url("../img/1.jpg");*/
  /*width: 100%;*/
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
label {
  min-width: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(218, 216, 216);
  font-family: 'Exo';
}
.container {
  width: 500px;
  padding: 20px;
  background: white;
  margin: auto;
  margin-top: 50px;
}

.titulo {
  text-align: center;
  border: solid rgb(176, 176, 209) 1px;
  border-style: dashed;
  padding: 15px;
  color: rgb(95, 93, 93);
}
.padre {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: rgb(128, 128, 128);
}
.nombre,
.apellido,
.usuario,
.clave {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
}
input:focus {
  outline: solid rgb(158, 158, 158) 2px;
}
.cuenta {
  display: flex;
  flex-direction: column;
}

.boton {
  width: 100%;
  background: rgb(0, 132, 255);
  border: none;
  color: white;
  padding: 15px 0;
  font-size: 18px;
}
.cuenta a{
  padding: 10px;
  color: blue;
  font-weight: bold;
}

.alerta{
  text-align: center;
  color: red;
}


.success{
  text-align: center;
  color: rgb(31, 156, 0);
}

